* {
    padding: 0;
    margin: 0;
}
html, body ,.app-wrap{
    height: 100%;
}
.clearfix{
    &:after{
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}
.t-c{
    text-align: center;
}
@import "./element-variables.scss";
@import "./assets/iconfonts/iconfont.css";